@model IEnumerable<Employee>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    <table class="table table-dark table-hover">
        <thead>
            <tr>
                <th>ID</th>
                <th>Last Name</th>
                <th>RFC</th>
                <th>Born date</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <partial name="EmployeeList" model="item" />
            }
        </tbody>
    </table>

</div>
